{% extends "base.html" %}

{% load i18n %}

{% block container %}
    <h1>{% trans "Tasks" %}</h1>
    <hr>
    {% if perms.projects.add_task %}
        <a class="btn btn-primary" href="{% url "projects:task_create" %}">
            <i class="bi bi-plus"></i>
            {% translate "Create" %}
        </a>
    {% endif %}
    {% if task_list %}
        {% include "task_list_included.html" with actions=True %}
    {% else %}
        <p>{% translate "No tasks are available." %}</p>
    {% endif %}
{% endblock %}
