{% extends "base.html" %}

{% load i18n %}

{% block container %}
    <h1>{{ task.task_name }}</h1>
    <hr>
    <div class="mb-2">
        <a href="{% url "projects:task_list" %}">{% trans "Back" %}</a>
    </div>
    <div class="card" style="max-width: 600px;">
        <div class="card-body">
            <div class="row">
                <div class="col" style="">
                    <b>{% trans "Project" %}</b>
                </div>
                <div class="col">
                    {{ task.project.project_name }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b>{% trans "Author" %}</b>
                </div>
                <div class="col">
                    {{ task.author.full_name }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b>{% trans "Assignee" %}</b>
                </div>
                <div class="col">
                    {{ task.assignee.full_name }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b>{% trans "Start date" %}</b>
                </div>
                <div class="col">
                    {{ task.start_date }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b>{% trans "Complete date" %}</b>
                </div>
                <div class="col">
                    {{ task.complete_date }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b>{% trans "Status" %}</b>
                </div>
                <div class="col">
                    {{ task.get_status_repr }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b>{% trans "Description" %}</b>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ task.description }}
                </div>
            </div>
        </div>
    </div>
    {% if perms.projects.change_task or perms.projects.delete_task %}
        <div class="row mt-2">
            {% if perms.projects.change_task %}
                <div class="col-auto">
                    <a class="btn btn-primary btn-lg"
                       href="{% url "projects:task_edit" task.id %}?next={{ request.path }}">
                        <i class="bi bi-pencil-fill"></i>
                        {% translate "Edit" %}
                    </a>
                </div>
            {% endif %}
            {% if perms.projects.delete_task %}
                <div class="col-auto">
                    <a class="btn btn-danger btn-lg" href="{% url "projects:task_delete" task.id %}">
                        <i class="bi bi-trash"></i>
                        {% translate "Delete" %}
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <hr>
    <div class="list-group list-group-flush">
        {% for comment in task.comments.all %}
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <small style="font-weight: bold; color: royalblue">{{ comment.created_date }}</small>
                    <div class="text-left">
                        <a id="{{ comment.id }}">
                            <a href="#{{ comment.id }}">
                                #{{ comment.id }}
                            </a>
                        </a>
                    </div>
                </div>
                <hr>
                <figure class="text-left mt-1 mb-2">{{ comment.text|linebreaks }}</figure>
            </div>
        {% empty %}
            <div class="mx-4">
                <p>{% translate "No comments are available." %}</p>
            </div>
        {% endfor %}
    </div>
    <div class="card" style="max-width: 600px; border: 0">
        <div class="card-body">
            <form method="POST" action="{% url "projects:comment_add" %}?next={{ request.path }}">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ form.non_field_errors }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                {% endif %}
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {{ field }}
                {% endfor %}
                <button class="btn btn-primary" type="submit">
                    {% translate "Add comment" %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}