{% extends 'base.html' %}

{% load i18n %}

{% block container %}
    <h1>{% translate 'Employees' %}</h1>
    <hr>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>{% translate 'Full name' %}</th>
            <th>{% translate 'Email' %}</th>
            <th>{% translate 'Birthdate' %}</th>
            <th>{% translate 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employee_list %}
            <tr>
                <td>{{ employee.id }}</td>
                <td><a href="{% url 'employees:detail' employee.id %}">{{ employee.full_name }}</a></td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.birthdate }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}