{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Brigadier</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% url "home:home" as url_home %}
                    <a class="nav-link {% if request.path == url_home %} active {% endif %}" aria-current="page"
                       href="{{ url_home }}">{% translate "Home" %}</a>
                </li>
                <li class="nav-item">
                    {% url "projects:list" as url_projects %}
                    <a class="nav-link {% if request.path == url_projects %} active {% endif %}"
                       href="{{ url_projects }}">{% translate "Projects" %}</a>
                </li>
                <li class="nav-item">
                    {% url "projects:task_list" as url_tasks %}
                    <a class="nav-link {% if request.path == url_tasks %} active {% endif %}"
                       href="{{ url_tasks }}">{% translate "Tasks" %}</a>
                </li>
                <li class="nav-item">
                    {% url "employees:list" as url_employees %}
                    <a class="nav-link {% if request.path == url_employees %} active {% endif %}"
                       href="{{ url_employees }}">{% translate "Employees" %}</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear"></i>
                        {% translate "Account" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url "accounts:login" %}">
                                {% translate "Login" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url "accounts:registration" %}">
                                {% translate "Create an account" %}
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url "accounts:password_change" %}">
                                {% translate "Change password" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url "accounts:logout" %}">
                                {% translate "Logout" %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
