{% extends "base.html" %}

{% load i18n %}

{% block container %}
    <hr>
    <div class="card mx-auto mt-5" style="max-width: 600px">
        <div class="card-body">
            <figure class="text-center">
                <h3>
                    {% translate "Your password has been successfully changed." %}
                </h3>
                <p class="text-secondary">
                    <p class="text-secondary">
                        {% translate "Go to the " %}
                        <a href="{% url "home:home" %}">{% translate "Home page" context "Homepage_genitive_case"%}</a>.
                    </p>
                </p>
            </figure>
        </div>
    </div>
{% endblock %}