{% extends "empty.html" %}

{% load i18n %}

{% block container %}
    <div class="card mx-auto mt-5" style="max-width: 600px">
        <div class="card-body">
            <figure class="text-center">
                <h3>
                    Create a Brigadier account
                </h3>
                <p class="text-secondary">
                    {% translate "If you've already had an account, please " %}
                    <a href="accounts:login">{% translate "sing in" %}</a>.
                </p>
            </figure>
            <form method="post" action="{% url 'accounts:registration' %}">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {{ field }}
                {% endfor %}
                <div class="d-grid col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">
                        {% translate "Create account" %}
                    </button>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            </form>
        </div>
    </div>
{% endblock %}